@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* 

GLOBAL / DEFAULT 

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #27272a;
  background-color: #f4f4f5;
}

section {
  background-color: #f4f4f5;
}

.container {
  padding: 48px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  color: #27272a;
  text-decoration: none;
}

img {
  width: 100%;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2rem;
}

p {
  line-height: 1.5;
  font-size: 1.8rem;
}

button {
  cursor: pointer;
}

.text-highlight {
  color: #047857;
}

.click {
  transition: all 150ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.9);
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  height: 3px;
  width: 0;
  border-radius: 4px;
  transition: all 150ms ease;
}

.link__hover-effect--white:after {
  background-color: #fff;
}

.link__hover-effect--black:after {
  background-color: #27272a;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

/*

FIXED ELEMENTS 

*/

.mail__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(4rem, 8vw, 6rem);
  height: clamp(4rem, 8vw, 6rem);
  font-size: clamp(2rem, 4vw + 0.2rem, 3.2rem);
  border: none;
  border-radius: 50%;
  color: #fff;
  background-color: #27272a;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 100;
}

/* 

HEADER / NAV BAR 

*/

header {
  padding: 0 24px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__logo--wrapper {
  display: flex;
}

.nav__logo {
  width: 64px;
  color: #09090b;
}

.nav__logo--a {
  color: #09090b;
  transition: color 150ms ease-out;
}

.nav__logo--n {
  color: #047857;
  transform: translateX(0.7px);
  transition: transform 150ms ease-out, color 150ms ease-out;
}

.nav__logo:hover .nav__logo--a {
  color: #047857;
  transition: color 150ms ease-in 150ms;
}

.nav__logo:hover .nav__logo--n {
  color: #09090b;
  transform: translateX(-1.2px);
  transition: transform 150ms ease-in, color 150ms ease-in 150ms;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  font-size: 18px;
  font-weight: 700;
  margin-left: 16px;
}

.fa-solid {
  padding-top: 2px;
  font-size: 20px;
  color: #27272a;
}

/* 

HERO / LANDING PAGE

*/

#hero {
  padding: 0 88px;
}

.hero__container {
  padding: 0;
}

.hero__row {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 80px);
  padding-bottom: 80px;
}

#hero .text-highlight {
  font-weight: 800;
}

.hero__title {
  font-size: 11.4rem;
  line-height: 1.1;
  margin-left: -0.6rem;
  margin-bottom: 0.8rem;
}

.hero__title--highlight {
  color: #047857;
}

.hero__para {
  max-width: 520px;
  margin-bottom: 1.6rem;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.8;
  text-wrap: balance;
}

.hero__links {
  display: flex;
}

.hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #047857;
  color: #fff;
  border-radius: 50%;
  font-size: 1.6rem;
  padding: 0.6rem;
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1.2rem;
}

.scroll {
  opacity: 1;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  /* animation: scroll-disappear ease;
  animation-timeline: scroll(); */
}

.scroll__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 30px;
  border: 2px solid #27272a;
  border-radius: 24px;
}

.scroll__icon::after {
  content: "";
  width: 4px;
  height: 6px;
  border-radius: 2px;
  background-color: #27272a;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  from {
    transform: translateY(3px);
  }
  to {
    transform: translateY(-3px);
  }
}

@keyframes scroll-disappear {
  0% {
    opacity: 1;
  }
  7% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* 

PROJECTS

*/

#projects {
  padding: 0 24px;
}

.section__title {
  text-align: center;
  margin-bottom: 6.4rem;
  text-wrap: balance;
}

.project {
  border-radius: 10px;
  overflow: hidden;
  transform: scale(0.99);
  box-shadow: 0 8px 48px 4px rgba(0, 0, 0, 0.3);
  transition: all 150ms ease;
}

.project:not(:last-child) {
  margin-bottom: 9.6rem;
}

.project:hover {
  transform: scale(1);
  box-shadow: 0 4px 24px 4px rgba(0, 0, 0, 0.7);
}

.project__wrapper {
  position: relative;
}

.project__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #09090b;
  opacity: 0;
  z-index: 1;
  transition: all 150ms ease;
}

.project:hover .project__wrapper::before {
  opacity: 0.7;
}

.project__img {
  transition: filter 150ms ease;
}

.project:hover .project__img {
  filter: blur(5px);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 9rem;
  transform: translateY(-50%);
  color: #fff;
  max-width: 550px;
  opacity: 0;
  z-index: 1;
  transition: all 150ms ease;
}

.project:hover .project__description {
  opacity: 1;
}

.project__title {
  line-height: 1;
  margin-bottom: 0.8rem;
}

.project__sub-title {
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 1.6rem;
}

.project__para {
  margin-bottom: 1.6rem;
}

.project__link {
  color: #fff;
  font-size: 20px;
  margin-right: 1.6rem;
}

/*

FOOTER 

*/

footer {
  background-color: #27272a;
  display: flex;
  view-timeline-name: --footer-view;
  view-timeline-axis: block;
}

.footer__container {
  padding: 8% 0;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo--wrapper {
  display: flex;
  position: relative;
}

.footer__logo--wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  background-color: #27272a;
  z-index: 5;
}

.footer__logo {
  width: 64px;
  color: #fff;
  margin-bottom: 2.4rem;
  z-index: 10;
}

.footer__logo--n {
  transform: translateX(0.7px);
}

.footer__logo--popper {
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: calc(50% - 20px);
  right: 4px;
  transition: right 300ms ease;
}

.footer__logo--wrapper:hover .footer__logo--popper {
  right: -52px;
}

.footer__link,
.footer__copyright {
  color: #fff;
}

.footer__links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
  margin-bottom: 4.8rem;
}

.footer__copyright {
  font-size: 1.4rem;
}

/* 

RESPONSIVENESS

*/

/* TABLETS AND LARGE PHONES */
@media (max-width: 768px) {
  #hero {
    padding: 0 24px;
  }

  .hero__row {
    justify-content: center;
    padding-bottom: 160px;
  }

  .hero__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero__title {
    margin-left: 0;
  }

  .hero__para {
    text-align: center;
    margin-bottom: 2.4rem;
  }

  #projects {
    padding: 0 48px;
  }

  .project__description {
    display: none;
  }
}

/* MEDIUM PHONES AND TABLETS */
@media (max-width: 600px) {
  .hero__title {
    font-size: 9.6rem;
  }

  .hero__para {
    font-size: 2.4rem;
  }
}

/* SMALL PHONES */
@media (max-width: 480px) {
  .hero__title {
    font-size: 8rem;
  }

  .hero__para {
    font-size: 2rem;
  }
}

/* SUPER SMALL */
@media (max-width: 350px) {
  .hero__title {
    text-align: center;
  }
}
