@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* 

GLOBAL / DEFAULT 

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #242424;
  background-color: rgb(245, 245, 245);
}

li {
  list-style: none;
}

a {
  color: #242424;
  text-decoration: none;
}

/* 

NAV BAR 

*/

header {
  padding: 0 1.6rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8rem;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__logo--wrapper {
  display: flex;
}

.nav__logo {
  width: 6.4rem;
  color: black;
}

#nav__logo--a {
    color: black;
}

#nav__logo--n {
    color: #242424;
    transform: translateX(0px);
    transition: all 150ms ease;
}

.nav__logo:hover #nav__logo--n {
    color: black;
    transform: translateX(-1.2px);
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 1.6rem;
}

.fa-solid {
  padding-top: 2px;
  font-size: 2rem;
  color: #242424;
}
